.header{
    display: flex;
    flex: 1;
}

.AI_ball{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(255, 128, 0, 0.3);
    font-weight: bold;
    text-align: center;
    line-height: 64px;
    color: white;
    float: right;
    margin-right: 5px;
    margin-top: 29rem;
   z-index: 999;
}

